@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* loading box styling starts here */
.status-box{
    display: flex;
    justify-content: center; 
    font-family: 'Ubuntu', sans-serif;
}
.status-box p{
    background: white;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 0;
    height: 14vh;
    box-shadow: 2px 5px 8px 4px rgb(209, 209, 209);
    font-size: 19px;
    color: rgb(110, 110, 110);
}
.status-box .error{
    justify-content: center;
    margin-left: 0;
}

/* Fetched weather data styling starts here */
.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-info{
    font-family: 'Ubuntu', sans-serif;
    background: white;
    width: 65%;
    padding-bottom: 20px;
    box-shadow: 2px 5px 8px 4px rgb(209, 209, 209);
    font-size: 19px;
    color: rgb(94, 94, 94);
    display: flex;
    justify-content: space-between;
}
.weather-info .left-container div{
    margin: 10px 0 0 10px;
}
.weather-info .left-container .temp{
    font-size: 80px;
    color: rgb(63, 63, 63);
    font-weight: 1000;
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
    align-items: center;
}
.weather-info .left-container .temp img{
    font-size: 20px;
    width: 80px;
    height: 80px;
}
.weather-info ul{
    list-style: none;
    margin: 27px 170px 0 0;
}
.weather-info ul .divider{
    padding: 10px;
}
.weather-info ul .divider span{
    font-weight: bolder;
    color: rgb(82, 82, 82);
}

/* Responsive UI stying starts here */
@media (max-width:1204px){
    .weather-info{
        width: 70%;
    }
    .weather-info ul{
        margin-right: 120px;
    }
}
@media (max-width:1050px){
    .weather-info{
        width: 75%;
        font-size: 16px;
    }
    .status-box p{
        width: 75%;
    }
    .weather-info .left-container .temp{
        font-size: 60px;
    }
    .weather-info .left-container .temp img{
        width: 50px;
        height: 50px;
    }
    .weather-info ul{
        margin-right: 100px;
    }
}
@media (max-width:788px){
    .weather-info{
        width: 80%;
    }
    .weather-info .left-container .temp{
        font-size: 45px;
        margin-left: 35px;
    }
    .weather-info ul{
        margin-right: 60px;
    }
}
@media (max-width:588px){
    .weather-info{
        width: 90%;
        font-size: 13px;
    }
    .status-box p{
        width: 90%;
    }
    .weather-info .left-container .temp{
        font-size: 35px;
        margin-left: 25px;
        margin-top: 80px;
    }
    .weather-info ul{
        margin-right: 45px;
    }
}
@media (max-width:445px){
    .weather-info{
        width: 100%;
        font-size: 12.5px;
    }
    .weather-info .left-container .temp{
        margin-left: 15px;
        margin-top: 80px;
    }
    .weather-info .left-container .temp img{
        width: 30px;
        height: 30px;
    }
    .weather-info ul{
        margin-right: 35px;
    }
}